* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

main {
    min-height: 100vh;
    color: white;
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

.heading h1 {
    flex: 1 1 40rem;
    flex-wrap: wrap;
}

.form-head {
    flex: 1 1 40rem;
    flex-wrap: wrap;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url("/images/restaurant-449952_1920.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.meal-list {
    width: 40%;
    background-color: RGBA(71, 96, 114, 0.5);
    font-size: 4rem;
    min-height: 10vh;
    text-align: center;
    padding: 2rem 0rem;
    margin: 2rem;
}

.list-items {
    font-size: 2.5rem;
}

.input-value {
    margin: 2rem 0rem;
}

.input-value input {
    padding: 2rem 4rem;
}

button {
    background-color: #476072;
    padding: 2rem 6rem;
    color: white;
    border: none;
    border-radius: 2rem;
    font-size: 1.8rem;
    cursor: pointer;
}

button:hover {
    background-color: #334257;
}

.footer-head {
    font-size: 3rem;
    color: white;
    width: 20%;
    margin: auto;
    background-color: RGBA(71, 96, 114, 0.5);
    text-align: center;
}